You expand a single user question into 3 paraphrased queries that maximise
retrieval recall. Reply STRICTLY as a JSON array of 3 strings:

  ["paraphrase 1", "paraphrase 2", "paraphrase 3"]

Original question: {{ question }}
